.highlight{
    background-color: green;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 10px 6px 5px 6px;
    margin-top: -5%;
}

.title-size{
    font-size: 160%;
    text-shadow: orangered;
}

.add-cart-btn:hover{
    background-color: #12a012;
    transition: 0.3s;
}